.tabscontainer {
    display: flex;
    flex-direction: column;
    width: 245px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 4px;
    padding: 0px 5px 5px 5px;
    box-shadow: 0 16px 32px -2px rgba(0, 0, 0, 0.3);
  }
  .tabs {
    display: flex;
  }

  .tab {
    flex: 1;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
  }

  .tab:hover {
    background-color: #f0f0f0;
  }

  .tab.active {
    background-color: #366495;
    color: #fff;
  }

  .tabcontent {
    margin-top: 10px;
  }

  .tabcontent p {
    font-size: 13px;
    word-break: break-word;
    color: #366495;
    font-weight: 600;
    border-top: 2px solid;
    text-align: center;
  }

  .inputSection input{
    padding-right: 50px;
    border-radius: 10px;
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    transition: box-shadow .1s;
    box-shadow: inset #d8d8da 0 0 0 1px, inset white 0 0 0 100px !important;
    border: none;
    width: 100%;
    color: black !important;
    font-family: "Inter",sans-serif;

  }
  .inputSection div{
    height: 25px;
    width: 25px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: inset rgba(0, 0, 0, 0.075) 0 0 0 1px;
    margin: 2px;
  }
  .gradientSection .inputSection > div:nth-child(1){
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
    align-items: end;
  }
  .inputSection {
    display: flex;
    justify-content: space-between;
  }
  .inputSection span svg{
    font-size: 28px !important;
    display: flex;
  }

  .deleteIcon{
    color: #8B0000 !important;
    cursor: pointer;
  }
  .gradientSection svg{
    font-size: 25px;
    color: darkslategray;
    cursor: pointer;
  }
  .selectedInput{
    border: 2px solid #366495;
  }
  .pickerSetting{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .direction{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .selectedSvg{
    background: #366495;
    color: #fff !important;
    border-radius: 15px;
  }